<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Base.Theme.Quizzify"
        tools:targetApi="31">
        <activity
            android:name=".ch1MActivity"
            android:exported="false"
            android:theme="@style/SignUp.Theme.Quizzify"
            android:parentActivityName=".MathsChapterActivity"/>
        <activity
            android:name=".ResultActivity"
            android:exported="false"
            android:theme="@style/SignUp.Theme.Quizzify" />
        <activity
            android:name=".ch2BActivity"
            android:exported="false"
            android:parentActivityName=".BiologyChapterActivity"
            android:theme="@style/SignUp.Theme.Quizzify" />
        <activity
            android:name=".QuestionActivity"
            android:exported="false"
            android:parentActivityName=".BiologyChapterActivity"
            android:theme="@style/SignUp.Theme.Quizzify" />
        <activity
            android:name=".MathsChapterActivity"
            android:exported="false"
            android:parentActivityName=".MathsActivity"
            android:theme="@style/SignUp.Theme.Quizzify" />
        <activity
            android:name=".MathsActivity"
            android:exported="false"
            android:parentActivityName=".HomepageActivity"
            android:theme="@style/SignUp.Theme.Quizzify" />
        <activity
            android:name=".MockTestActivity"
            android:exported="false"
            android:parentActivityName=".BiologyActivity"
            android:theme="@style/SignUp.Theme.Quizzify" />
        <activity
            android:name=".BiologyChapterActivity"
            android:exported="false"
            android:parentActivityName=".BiologyActivity"
            android:theme="@style/SignUp.Theme.Quizzify" />
        <activity
            android:name=".BiologyActivity"
            android:exported="false"
            android:parentActivityName=".HomepageActivity"
            android:theme="@style/SignUp.Theme.Quizzify" />
        <activity
            android:name=".HomepageActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/SignUp.Theme.Quizzify" />
        <activity
            android:name=".SignUpActivity"
            android:exported="false"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/SignUp.Theme.Quizzify" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Base.Theme.Quizzify" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.Quizzify">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Base.Theme.Quizzify" />
    </application>

</manifest>